@use "../utils/mixins";
@use "../base/variables";

body {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
    transition: all $transition-smooth;
    pointer-events: none;
    z-index: 999;
    visibility: hidden;
  }

  &.card-active {
    &::before {
      background-color: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(5px);
      visibility: visible;
    }
  }
}

.close-button {
  position: absolute;
  top: $spacing-small;
  right: $spacing-small;
  width: 35px;
  height: 35px;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 50%;
  border: none;
  @include flex;
  opacity: 0;
  transform: scale(0.5) rotate(-180deg);
  transition: all $transition-smooth;
  line-height: 0;
  font-size: 24px;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-dark;
    transform: scale(1.1) rotate(90deg);
  }

  .project-card.active & {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}
