@use "../styles/variables" as *;

nav {
  ul {
    display: flex;
    gap: 20px;
    list-style: none;

    @media (max-width: 768px) {
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: 480px) {
      gap: 10px;
    }
  }

  a {
    text-decoration: none;
    color: $text-color;
    font-weight: bold;
    position: relative;
    padding-bottom: 3px;
    transition: color 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: width 0.3s ease;
      transform-origin: left;
    }

    &:hover {
      color: $primary-color;

      &::before {
        width: 100%;
      }
    }

    @media (max-width: 480px) {
      font-size: 0.9rem;
    }
  }
}
