@use "../styles/variables" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($black, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  animation: fadeIn 0.3s ease;
}

.modal {
  background-color: $white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  animation: slideIn 0.3s ease;
  border: 2px solid $primary-color;

  @media (max-width: 768px) {
    padding: 1.5rem;
    max-width: 350px;
  }

  @media (max-width: 480px) {
    padding: 1rem;
    width: 95%;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: $primary-color;

    @media (max-width: 768px) {
      font-size: 1.8rem;
      margin-bottom: 1.2rem;
    }

    @media (max-width: 480px) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  p {
    margin-bottom: 1rem;
    color: $text-color;
    font-size: 1.1rem;

    @media (max-width: 480px) {
      font-size: 1rem;
      margin-bottom: 0.8rem;
    }
  }

  .redirect-text {
    font-size: 0.9rem;
    color: $text-color-light;
    font-style: italic;
    margin-top: 1.5rem;

    @media (max-width: 480px) {
      font-size: 0.8rem;
      margin-top: 1rem;
    }
  }
}
