@use "../styles/variables" as *;

// Animation par défaut pour les grands écrans
@keyframes lineWidth {
  0%,
  100% {
    width: 5px;
  }
  50% {
    width: 500px;
  }
}

// Animation pour tablettes
@keyframes lineWidthTablet {
  0%,
  100% {
    width: 5px;
  }
  50% {
    width: 250px;
  }
}

// Animation pour mobiles
@keyframes lineWidthMobile {
  0%,
  100% {
    width: 5px;
  }
  50% {
    width: 200px;
  }
}

// Animation pour très petits écrans
@keyframes lineWidthSmall {
  0%,
  100% {
    width: 5px;
  }
  50% {
    width: 100px;
  }
}
