@use "../styles/variables" as *;
@use "../styles/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background: $gradient-background;
  color: $white;
  line-height: 1.6;
  padding-top: 120px;

  @media (max-width: 1024px) {
    padding-top: 0;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }

  @media (max-width: 360px) {
    font-size: 13px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-secondary;
}
