@use "../utils/mixins";
@use "../base/variables";

footer {
  text-align: center;
  padding: $spacing-base 0;
  background-color: $color-primary;
  color: $color-white;
  margin-top: $spacing-large;
  position: relative;
  z-index: 1;
}
