@use "../utils/mixins";
@use "../base/variables";

header {
  @include flex(row, space-between, center);
  padding: $spacing-base 0;
  @include container;
  position: relative;
  z-index: 1;

  h1 {
    font-size: $font-size-xlarge;
    color: $color-primary;
  }

  nav {
    ul {
      @include flex;
      gap: $spacing-base;
      list-style: none;
    }

    a {
      text-decoration: none;
      color: $color-text;
      font-weight: bold;
      position: relative;
      padding-bottom: 3px;
      transition: color $transition-base;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color-primary;
        transition: width $transition-base;
        transform-origin: left;
      }

      &:hover {
        color: $color-primary;

        &::before {
          width: 100%;
        }
      }
    }
  }

  @include responsive(tablet) {
    flex-direction: column;
    text-align: center;
    gap: $spacing-base;
    padding: $spacing-base;
  }
}
